process { withName: 'BIOPAX_PARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'DOMINO_DOMINO' { container = 'oras://community.wave.seqera.io/library/domino:c6cf246e01593ebb' } }
process { withName: 'DOMINO_SLICER' { container = 'oras://community.wave.seqera.io/library/domino:c6cf246e01593ebb' } }
process { withName: 'DRUGPREDICTIONS' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'FIRSTNEIGHBOR' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'GT2TSV' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'INPUTCHECK' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'MODULEOVERLAP' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'MODULEPARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--4fc8657c816047c0' } }
process { withName: 'MULTIQCFORMATTER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'NETWORKANNOTATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'NETWORKPERTURBATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'PREFIXLINES' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'ROBUSTBIASAWARE' { container = 'oras://community.wave.seqera.io/library/robust_bias_aware:43b9a90dd422dee1' } }
process { withName: 'RWR' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'SAVEMODULES' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'SEEDPERTURBATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'TOPOLOGY' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'VISUALIZEMODULES' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
process { withName: 'VISUALIZEMODULESDRUGS' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:97f911fbeabe5e6f' } }
