process { withName: 'DRUGPREDICTIONS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/21/21de64b1037cf398eef3f2ff58c45914a2be46ec51b588cd9188e7e0e3d1142d/data' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/21/21de64b1037cf398eef3f2ff58c45914a2be46ec51b588cd9188e7e0e3d1142d/data' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/21/21de64b1037cf398eef3f2ff58c45914a2be46ec51b588cd9188e7e0e3d1142d/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9a/9a1fec9662a152683e6fcae440d0ce20920b3b89dc62d1e3a52e73f92eba0969/data' } }
