process { withName: 'BIOPAX_PARSER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'DRUGPREDICTIONS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'FIRSTNEIGHBOR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'GT2TSV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'INPUTCHECK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'MODULEOVERLAP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'MODULEPARSER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9a/9a1fec9662a152683e6fcae440d0ce20920b3b89dc62d1e3a52e73f92eba0969/data' } }
process { withName: 'MULTIQCFORMATTER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'NETWORKANNOTATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'NETWORKPERTURBATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'PREFIXLINES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'RWR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'SAVEMODULES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'SEEDPERTURBATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'TOPOLOGY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'VISUALIZEMODULES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
process { withName: 'VISUALIZEMODULESDRUGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bd/bdf908ab707e8af0ae80a72bd38411af7545e47b1d28798449ef26adf22bec20/data' } }
