process { withName: 'DRUGPREDICTIONS' { conda = 'modules/local/drugpredictions/.conda-lock/linux_amd64-bd-894e0b47d51d9d4b_1.txt' } }
process { withName: 'DRUGSTONEEXPORT' { conda = 'modules/local/drugstoneexport/.conda-lock/linux_amd64-bd-894e0b47d51d9d4b_1.txt' } }
process { withName: 'GRAPHTOOLPARSER' { conda = 'modules/local/graphtoolparser/.conda-lock/linux_amd64-bd-894e0b47d51d9d4b_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-db7c73dae76bc9e6_1.txt' } }
