process { withName: 'DRUGPREDICTIONS' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'DRUGSTONEEXPORT' { conda = 'modules/local/drugstoneexport/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'FIRSTNEIGHBOR' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'GRAPHTOOLPARSER' { conda = 'modules/local/graphtoolparser/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'GT2TSV' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'INPUTCHECK' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'MODULEOVERLAP' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'MODULEPARSER' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-d167b8012595a136_1.txt' } }
process { withName: 'MULTIQCFORMATTER' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'NETWORKANNOTATION' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'NETWORKPERTURBATION' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'PREFIXLINES' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'PROXIMITY' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'RWR' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'SAVEMODULES' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'SEEDPERTURBATION' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'SHORTEST_PATHS' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'TOPOLOGY' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'VISUALIZEMODULES' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'VISUALIZEMODULESDRUGS' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
