process { withName: 'DRUGPREDICTIONS' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:52ad421a66696f4b' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:52ad421a66696f4b' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:52ad421a66696f4b' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--7fbd82d945c06726' } }
