process { withName: 'BIOPAX_PARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'DOMINO_DOMINO' { container = 'community.wave.seqera.io/library/domino:d7848ba6939a9ab0' } }
process { withName: 'DOMINO_SLICER' { container = 'community.wave.seqera.io/library/domino:d7848ba6939a9ab0' } }
process { withName: 'DRUGPREDICTIONS' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'FIRSTNEIGHBOR' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'GT2TSV' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'INPUTCHECK' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'MODULEOVERLAP' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'MODULEPARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--c17fb751507e9dfc' } }
process { withName: 'MULTIQCFORMATTER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'NETWORKANNOTATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'NETWORKPERTURBATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'PREFIXLINES' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'ROBUSTBIASAWARE' { container = 'community.wave.seqera.io/library/robust_bias_aware:cc068c0e1d52ce0e' } }
process { withName: 'RWR' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'SAVEMODULES' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'SEEDPERTURBATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'TOPOLOGY' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'VISUALIZEMODULES' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
process { withName: 'VISUALIZEMODULESDRUGS' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:37beeaac11625203' } }
