process { withName: 'DRUGPREDICTIONS' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:de2f590cc18e3bd8' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:de2f590cc18e3bd8' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:de2f590cc18e3bd8' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--4fc8657c816047c0' } }
