process { withName: 'DRUGPREDICTIONS' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:894e0b47d51d9d4b' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:894e0b47d51d9d4b' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:894e0b47d51d9d4b' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.34--db7c73dae76bc9e6' } }
