process { withName: 'BIOPAX_PARSER' { conda = 'modules/local/biopax/parser/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'DOMINO_DOMINO' { conda = 'modules/local/domino/domino/.conda-lock/linux_amd64-bd-d7848ba6939a9ab0_1.txt' } }
process { withName: 'DOMINO_SLICER' { conda = 'modules/local/domino/slicer/.conda-lock/linux_amd64-bd-d7848ba6939a9ab0_1.txt' } }
process { withName: 'DRUGPREDICTIONS' { conda = 'modules/local/drugpredictions/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'DRUGSTONEEXPORT' { conda = 'modules/local/drugstoneexport/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'FIRSTNEIGHBOR' { conda = 'modules/local/firstneighbor/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'GRAPHTOOLPARSER' { conda = 'modules/local/graphtoolparser/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'GT2TSV' { conda = 'modules/local/gt2tsv/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'INPUTCHECK' { conda = 'modules/local/inputcheck/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'MODULEOVERLAP' { conda = 'modules/local/moduleoverlap/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'MODULEPARSER' { conda = 'modules/local/moduleparser/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-db7c73dae76bc9e6_1.txt' } }
process { withName: 'MULTIQCFORMATTER' { conda = 'modules/local/multiqcformatter/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'NETWORKANNOTATION' { conda = 'modules/local/networkannotation/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'NETWORKPERTURBATION' { conda = 'modules/local/networkperturbation/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { conda = 'modules/local/networkperturbationevaluation/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'PREFIXLINES' { conda = 'modules/local/prefixlines/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'PROXIMITY' { conda = 'modules/local/proximity/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'ROBUSTBIASAWARE' { conda = 'modules/local/robust_bias_aware/.conda-lock/linux_amd64-bd-cc068c0e1d52ce0e_1.txt' } }
process { withName: 'RWR' { conda = 'modules/local/rwr/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'SAVEMODULES' { conda = 'modules/local/savemodules/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'SEEDPERTURBATION' { conda = 'modules/local/seedperturbation/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { conda = 'modules/local/seedperturbationevaluation/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { conda = 'modules/local/seedperturbationvisualization/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'SHORTEST_PATHS' { conda = 'modules/local/shortest_paths/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'TOPOLOGY' { conda = 'modules/local/topology/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'VISUALIZEMODULES' { conda = 'modules/local/visualizemodules/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
process { withName: 'VISUALIZEMODULESDRUGS' { conda = 'modules/local/visualizemodulesdrugs/.conda-lock/linux_amd64-bd-37beeaac11625203_1.txt' } }
