process { withName: 'BIOPAX_PARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'DRUGPREDICTIONS' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'FIRSTNEIGHBOR' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'GT2TSV' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'INPUTCHECK' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'MODULEOVERLAP' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'MODULEPARSER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.34--d167b8012595a136' } }
process { withName: 'MULTIQCFORMATTER' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'NETWORKANNOTATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'NETWORKPERTURBATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'PREFIXLINES' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'PROXIMITY' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'RWR' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'SAVEMODULES' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'SEEDPERTURBATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'SHORTEST_PATHS' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'TOPOLOGY' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'VISUALIZEMODULES' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
process { withName: 'VISUALIZEMODULESDRUGS' { container = 'community.wave.seqera.io/library/modulediscovery_python_dependencies:cd96a1d8b8cde552' } }
