process { withName: 'DRUGPREDICTIONS' { conda = 'modules/local/drugpredictions/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'DRUGSTONEEXPORT' { conda = 'modules/local/drugstoneexport/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'GRAPHTOOLPARSER' { conda = 'modules/local/graphtoolparser/.conda-lock/linux_arm64-bd-ccf583cf8b2348fc_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-d167b8012595a136_1.txt' } }
