process { withName: 'BIOPAX_PARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'DRUGPREDICTIONS' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'DRUGSTONEEXPORT' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'FIRSTNEIGHBOR' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'GRAPHTOOLPARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'GT2TSV' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'INPUTCHECK' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'MODULEOVERLAP' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'MODULEPARSER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--7fbd82d945c06726' } }
process { withName: 'MULTIQCFORMATTER' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'NETWORKANNOTATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'NETWORKPERTURBATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'NETWORKPERTURBATIONEVALUATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'PREFIXLINES' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'RWR' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'SAVEMODULES' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'SEEDPERTURBATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'SEEDPERTURBATIONEVALUATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'SEEDPERTURBATIONVISUALIZATION' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'TOPOLOGY' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'VISUALIZEMODULES' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
process { withName: 'VISUALIZEMODULESDRUGS' { container = 'oras://community.wave.seqera.io/library/modulediscovery_python_dependencies:5881bc5613b9edfe' } }
