/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/diseasemodulediscovery -profile test_tools,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '1.h'
    ]
    memory = { 1.GB * task.attempt }
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 1.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 1.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withName: DIGEST {
        memory = 6.GB
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function, running all module detection tools'

    // Input data
    seeds                   = "https://raw.githubusercontent.com/nf-core/test-datasets/diseasemodulediscovery/small/ensembl_seeds_2.csv"
    network                 = "string_physical_min900"
    id_space                = "ensembl"
    skip_visualization      = true
    skip_drugstone_export   = true
    skip_evaluation         = true
    skip_annotation         = true
    skip_drug_predictions   = true
}
